@model CategoryCreateViewModel


<h1 class="text-center">Додати категорію</h1>

<div class="container">

    <form asp-action="Create" class="col-md-6 offset-md-3">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label"></label>
            <input asp-for="Image" class="form-control"/>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="mb-3 form-floating">
            <textarea asp-for="Description" class="form-control" placeholder="Опис категорії"></textarea>
            <label asp-for="Description"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Додати</button>
        <a href="@Url.Action("Index")" class="btn btn-dark">Скасувати</a>
    </form>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
