@model ProductsHomeViewModel

<nav class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        @for(int i=1; i<=Model.Pagination.TotalPages;i++)
        {
            if(i==Model.Search.Page)
            {
                <li class="page-item active">
                    <a class="page-link" asp-action="Index"
                       asp-route-page="@i">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index"
                       asp-route-page="@i">@i</a>
                </li>
            }
            
        }
        @* <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li> *@
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>