@model ProductsHomeViewModel
<div class="container mt-3 mb-5">
    <h2 class="text-center">Продукти</h2>
    <a asp-action="Create" class="btn btn-secondary my-3">Додати</a>

    <h4>Усіх записів @Model.Count</h4>


    @await Html.PartialAsync("_ProductSearch", Model.Search)

    @await Html.PartialAsync("_ProductPagination", Model)

    @await Html.PartialAsync("_ProductsList", Model.Data)

    @await Html.PartialAsync("_ProductPagination", Model)



</div>


