@model LoginViewModel

<div class="container">
    <form asp-action="Login" class="col-md-6 offset-md-3">

        <h1 class="text-center mt-3">Login</h1>

        <div class="mt-4 mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mt-2">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger mt-2"></div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-dark mb-3">Login</button>
            <p>
                Don`t have an account?
                <a class="link-offset-1-hover" href="@Url.Action("Register", "Account")">Register</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}