<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Піцерія</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body style="padding-top: 3rem;">

    @await Html.PartialAsync("Partials/_Header")

    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>